{#- storage #}
{%- for node in cabling.nodes if node.subtype == "storage" %}

interface mlag-port-channel {{ node.config.LAG_NUMBER_V1 }}
interface mlag-port-channel {{ node.config.LAG_NUMBER_V1 }} mtu 9216 force
interface mlag-port-channel {{ node.config.LAG_NUMBER_V1 }} switchport mode hybrid
interface mlag-port-channel {{ node.config.LAG_NUMBER_V1 }} description {{ node.config.DESCRIPTION }}
interface mlag-port-channel {{ node.config.LAG_NUMBER_V1 }} no shutdown
interface mlag-port-channel {{ node.config.LAG_NUMBER_V1 }} lacp-individual enable force

interface ethernet 1/{{ node.config.PORT }} mtu 9216 force
interface ethernet 1/{{ node.config.PORT }} mlag-channel-group {{ node.config.LAG_NUMBER_V1 }} mode active
interface ethernet 1/{{ node.config.PORT }} description {{ node.config.DESCRIPTION }}

interface mlag-port-channel {{ node.config.LAG_NUMBER_V1 }} switchport hybrid allowed-vlan add 2
interface mlag-port-channel {{ node.config.LAG_NUMBER_V1 }} switchport hybrid allowed-vlan add 4
interface mlag-port-channel {{ node.config.LAG_NUMBER_V1 }} switchport hybrid allowed-vlan add 7
{%- endfor %}
{#- end storage #}