{#- ACL Definitions for NMN Services Isolation #}
{%- if variables.ENABLE_NMN_ISOLATION  -%}
{%- if sequence is none or sequence is undefined -%}
  {#- Resets sequence number to 0 for templates tests #}
  {%- set sequence = 0 -%}
  {%- set seqns = namespace(seq=sequence) -%}
{%- endif %}
{%- set sequence = seqns.seq %}
{% set sequence = sequence+10 %}    {{ sequence }} comment ALLOW services between Management and Managed Nodes
{% set sequence = sequence+10 %}    {{ sequence }} permit udp any eq dns any count
{% set sequence = sequence+10 %}    {{ sequence }} permit tcp any eq dns any count
{% set sequence = sequence+10 %}    {{ sequence }} permit udp NMN_NCN eq ntp MANAGED_NODES count
{% set sequence = sequence+10 %}    {{ sequence }} permit udp MANAGED_NODES eq ntp NMN_NCN count
{% set sequence = sequence+10 %}    {{ sequence }} permit udp TFTP_SERVERS MANAGED_NODES count
{% set sequence = sequence+10 %}    {{ sequence }} permit udp MANAGED_NODES TFTP_SERVERS count
{% set sequence = sequence+10 %}    {{ sequence }} permit tcp CRAY-SPIRE MANAGED_NODES count
{% set sequence = sequence+10 %}    {{ sequence }} permit tcp MANAGED_NODES CRAY-SPIRE count
{% set sequence = sequence+10 %}    {{ sequence }} permit tcp MANAGED_NODES FLUENTBIT-AGGREGATOR group NMN_TCP_SERVICES count
{% set sequence = sequence+10 %}    {{ sequence }} permit tcp FLUENTBIT-AGGREGATOR group NMN_TCP_SERVICES MANAGED_NODES count
{% set sequence = sequence+10 %}    {{ sequence }} permit udp MANAGED_NODES FLUENTBIT-AGGREGATOR eq syslog count
{% set sequence = sequence+10 %}    {{ sequence }} permit udp FLUENTBIT-AGGREGATOR eq syslog MANAGED_NODES count
{% set sequence = sequence+10 %}    {{ sequence }} permit tcp MANAGED_NODES ISTIO group NMN_TCP_SERVICES count
{% set sequence = sequence+10 %}    {{ sequence }} permit tcp ISTIO group NMN_TCP_SERVICES MANAGED_NODES count
{% set sequence = sequence+10 %}    {{ sequence }} permit tcp MANAGED_NODES NMN_K8S_SERVICE group NMN_TCP_SERVICES count
{% set sequence = sequence+10 %}    {{ sequence }} permit tcp NMN_K8S_SERVICE group NMN_TCP_SERVICES MANAGED_NODES count
{%- set seqns.seq = sequence -%}
{%- endif  -%}
{#- end ACL Definitions for NMN Services Isolation -#}

