{#- leaf-to-leaf-bmc #}
{%- for node in cabling.nodes if node.subtype == "leaf-bmc" %}

interface mlag-port-channel {{ node.config.LAG_NUMBER }}
interface mlag-port-channel {{ node.config.LAG_NUMBER }}  mtu 9216 force
interface mlag-port-channel {{ node.config.LAG_NUMBER }}  switchport mode hybrids
interface mlag-port-channel {{ node.config.LAG_NUMBER }}  switchport hybrid allowed-vlan add {{ variables.NMN_VLAN }}
interface mlag-port-channel {{ node.config.LAG_NUMBER }}  switchport hybrid allowed-vlan add {{ variables.HMN_VLAN }}
interface mlag-port-channel {{ node.config.LAG_NUMBER }}  switchport hybrid allowed-vlan add {{ variables.CAN_VLAN }}
interface mlag-port-channel {{ node.config.LAG_NUMBER }}  switchport hybrid allowed-vlan add 10

interface ethernet {{ node.config.PORT }} mlag-channel-group {{ node.config.LAG_NUMBER }} mode active
interface mlag-port-channel {{ node.config.PORT }} description {{ node.config.DESCRIPTION }}
interface mlag-port-channel {{ node.config.LAG_NUMBER }} no shutdown

{%- endfor %}
{#- end leaf-to-leaf-bmc #}%