{#- dm-sw-spine.secondary #}
{%- include '1.2/dellmellanox/common/unknown.j2' %}
hostname {{ variables.HOSTNAME }}
{%- include '1.2/dellmellanox/common/banner-motd.j2' %}

no cli default prefix-modes enable

protocol mlag
protocol bgp

vlan {{ variables.NMN_VLAN }}
vlan {{ variables.HMN_VLAN }}
vlan {{ variables.CMN_VLAN }}
vlan {{ variables.CAN_VLAN }}
vlan 4000
vlan {{ variables.NMN_VLAN }} name "RVR_NMN"
vlan {{ variables.HMN_VLAN }} name "RVR_HMN"
vlan {{ variables.CMN_VLAN }} name "CMN"
vlan {{ variables.CAN_VLAN }} name "CAN"
vlan 4000 name "MLAG" 

no ntp server {{ variables.NCN_W001 }} disable
ntp server {{ variables.NCN_W001 }} keyID 0
no ntp server {{ variables.NCN_W001 }} trusted-enable
ntp server {{ variables.NCN_W001 }} version 4
no ntp server {{ variables.NCN_W002 }} disable
ntp server {{ variables.NCN_W002 }} keyID 0
no ntp server {{ variables.NCN_W002 }} trusted-enable
ntp server {{ variables.NCN_W002 }} version 4
no ntp server {{ variables.NCN_W003 }} disable
ntp server {{ variables.NCN_W003 }} keyID 0
no ntp server {{ variables.NCN_W003 }} trusted-enable
ntp server {{ variables.NCN_W003 }} version 4
ntp vrf default enable force
web vrf default enable force

{%- include '1.2/dellmellanox/common/acl-mellanox.j2' %}

{%- include '1.0/dellmellanox/common/mlag_isl.j2' %}
   
lacp

vrf definition Customer
vrf definition Customer rd 7:7
ip routing vrf Customer
ip routing vrf default
interface loopback 0
interface vlan {{ variables.NATIVE_VLAN }}
interface vlan {{ variables.NMN_VLAN }}
interface vlan {{ variables.HMN_VLAN }}
interface vlan {{ variables.CMN_VLAN }} vrf forwarding Customer
interface vlan {{ variables.CAN_VLAN }} vrf forwarding Customer
interface vlan 10
interface vlan 4000
interface loopback 0 ip address {{ variables.LOOPBACK_IP }}/32 primary
interface vlan {{ variables.NATIVE_VLAN }} ip address {{ variables.MTL_IP }}/{{variables.MTL_PREFIX_LEN}} primary
interface vlan {{ variables.NMN_VLAN }} ip address {{ variables.NMN_IP }}/{{variables.NMN_PREFIX_LEN}} primary
interface vlan {{ variables.HMN_VLAN }} ip address {{ variables.HMN_IP }}/{{variables.HMN_PREFIX_LEN}} primary
interface vlan {{ variables.CMN_VLAN }} ip address {{ variables.CMN_IP }}/{{ variables.CMN_PREFIX_LEN }} primary
interface vlan {{ variables.CAN_VLAN }} ip address {{ variables.CAN_IP_SECONDARY }}/{{ variables.CAN_PREFIX_LEN }} primary
interface vlan 4000 ip address 192.168.255.254/30 primary
no interface vlan {{ variables.NATIVE_VLAN }} ip icmp redirect
interface vlan {{ variables.NATIVE_VLAN }} mtu 9184
no interface vlan {{ variables.NMN_VLAN }} ip icmp redirect
interface vlan {{ variables.NMN_VLAN }} mtu 9184
no interface vlan {{ variables.HMN_VLAN }} ip icmp redirect
interface vlan {{ variables.HMN_VLAN }} mtu 9184
no interface vlan {{ variables.CMN_VLAN }} ip icmp redirect
interface vlan {{ variables.CMN_VLAN }} mtu 9184
no interface vlan {{ variables.CAN_VLAN }} ip icmp redirect
interface vlan {{ variables.CAN_VLAN }} mtu 9184
interface vlan 4000 mtu 9216 
interface vlan {{ variables.NMN_VLAN }} ipv4 port access-group nmn-hmn
interface vlan {{ variables.HMN_VLAN }} ipv4 port access-group nmn-hmn
interface vlan {{ variables.CMN_VLAN }} ipv4 port access-group cmn-can
interface vlan {{ variables.CAN_VLAN }} ipv4 port access-group cmn-can
ip load-sharing source-ip-port
ip load-sharing type consistent
   
no interface mgmt0 dhcp
interface mgmt0 ip address 192.168.255.243 /29

{%- include '1.2/dellmellanox/common/prefix.list.j2' %}
{%- include '1.2/dellmellanox/common/route-map.j2' %}
{%- include '1.2/dellmellanox/common/bgp.j2' %}

ip name-server vrf vrf-default {{ variables.NMNLB_DNS }}

spanning-tree mode mst
spanning-tree priority 4096
spanning-tree port type edge default
spanning-tree mst name cray
spanning-tree mst revision 2

{% include '1.2/dellmellanox/common/ncn-m.lag.j2' %}
{% include '1.2/dellmellanox/common/ncn-w.lag.j2' %}
{% include '1.2/dellmellanox/common/ncn-s.lag.j2' %}
{% include '1.2/dellmellanox/common/uan.j2' %}
{% include '1.2/dellmellanox/full/spine-to-leaf-bmc.lag.j2' %}
{% include '1.2/dellmellanox/common/spine-to-cdu.lag.j2' %}
      
protocol ospf
router ospf 1 vrf default
router ospf 2 vrf Customer
router ospf 1 vrf default router-id {{ variables.LOOPBACK_IP }}
router ospf 2 vrf Customer router-id {{ variables.LOOPBACK_IP }}
router ospf 2 vrf Customer default-information originate
interface loopback 0 ip ospf area 0.0.0.0
interface vlan {{ variables.NMN_VLAN }} ip ospf area 0.0.0.0
interface vlan {{ variables.HMN_VLAN }} ip ospf area 0.0.0.0
interface vlan {{ variables.CMN_VLAN }} ip ospf area 0.0.0.0
router ospf 1 vrf default redistribute bgp

ip dhcp relay instance 2 vrf default
ip dhcp relay instance 4 vrf default
ip dhcp relay instance 2 address 10.92.100.222
ip dhcp relay instance 4 address 10.94.100.222
interface vlan {{ variables.NATIVE_VLAN }} ip dhcp relay instance 2 downstream
interface vlan {{ variables.NMN_VLAN }} ip dhcp relay instance 2 downstream
interface vlan {{ variables.HMN_VLAN }} ip dhcp relay instance 4 downstream

{% include '1.2/dellmellanox/common/magp.j2' %}

mlag-vip mlag-domain ip 192.168.255.242 /29 force
no mlag shutdown
mlag system-mac 00:00:5E:00:01:01
interface vlan 4000 ipl 1 peer-address 192.168.255.253
   
{# end dm-sw-spine.secondary #}
