{#- sw-spine.secondary #}
{%- include '1.2/aruba/common/unknown.j2' %}
hostname {{ variables.HOSTNAME }}
{%- include '1.2/aruba/common/banner-motd.j2' %}
no ip icmp redirect
vrf Customer
vrf keepalive
ntp server {{ variables.NCN_W001 }}
ntp server {{ variables.NCN_W002 }}
ntp server {{ variables.NCN_W003 }}
ntp enable


ssh server vrf Customer
ssh server vrf default
ssh server vrf keepalive
ssh server vrf mgmt
{%- include '1.2/aruba/common/acl.j2' %}

vlan 1
vlan {{ variables.NMN_VLAN }}
    name NMN
    apply access-list ip nmn-hmn in
    apply access-list ip nmn-hmn out
vlan {{ variables.HMN_VLAN }}
    name HMN
    apply access-list ip nmn-hmn in
    apply access-list ip nmn-hmn out
vlan {{ variables.CMN_VLAN }}
    name CMN
    apply access-list ip cmn-can in
    apply access-list ip cmn-can out
vlan {{ variables.CAN_VLAN }}
    name CAN
    apply access-list ip cmn-can in
    apply access-list ip cmn-can out
vlan 10
    name SUN
spanning-tree
{#- forward delay added to help with pxe boots. CASMNET-1099 + CASMTRIAGE-2793 #}
spanning-tree forward-delay 4
spanning-tree priority 0
spanning-tree config-name MST0
spanning-tree config-revision 1
interface mgmt
    shutdown
    ip dhcp

{% include '1.2/aruba/common/ncn-m.lag.j2' %}
{% include '1.2/aruba/common/ncn-w.lag.j2' %}
{% include '1.2/aruba/common/ncn-s.lag.j2' %}
{% include '1.2/aruba/common/uan.j2' %}
{% include '1.2/aruba/tds/spine-to-leaf-bmc.lag.j2' %}
{% include '1.2/aruba/common/spine-to-cdu.lag.j2' %}

interface lag 256
    no shutdown
    description ISL link
    no routing
    vlan trunk native 1 tag
    vlan trunk allowed all
    lacp mode active
interface 1/1/{{ variables.VSX_KEEPALIVE }}
    no shutdown
    vrf attach keepalive
    ip address 192.168.255.1/31
interface 1/1/{{ variables.VSX_ISL_PORT1 }}
    no shutdown
    mtu 9198
    description vsx isl
    lag 256
interface 1/1/{{ variables.VSX_ISL_PORT2 }}
    no shutdown
    mtu 9198
    description vsx isl
    lag 256
interface loopback 0
    ip address {{ variables.LOOPBACK_IP }}/32
    ip ospf 1 area 0.0.0.0
interface vlan 1
    ip mtu 9198
    ip address {{ variables.MTL_IP }}/{{variables.MTL_PREFIX_LEN}}
    active-gateway ip mac 12:00:00:00:6b:00
    active-gateway ip {{ variables.MTL_IP_GATEWAY }}
    ip helper-address 10.92.100.222
    ip ospf 1 area 0.0.0.0
    ip ospf passive
interface vlan {{ variables.NMN_VLAN }}
    description NMN
    ip mtu 9198
    ip address {{ variables.NMN_IP }}/{{variables.NMN_PREFIX_LEN}}
    active-gateway ip mac 12:00:00:00:6b:00
    active-gateway ip {{ variables.NMN_IP_GATEWAY }}
    ip helper-address 10.92.100.222
    ip ospf 1 area 0.0.0.0
interface vlan {{ variables.HMN_VLAN }}
    description HMN
    ip mtu 9198
    ip address {{ variables.HMN_IP }}/{{variables.HMN_PREFIX_LEN}}
    active-gateway ip mac 12:00:00:00:6b:00
    active-gateway ip {{ variables.HMN_IP_GATEWAY }}
    ip helper-address 10.94.100.222
    ip ospf 1 area 0.0.0.0
    ip ospf passive
{%- if variables.CMN != None %}
interface vlan {{ variables.CMN_VLAN }}
    vrf attach Customer
    description CMN
    ip mtu 9198
    ip address {{ variables.CMN_IP }}/{{ variables.CMN_PREFIX_LEN }}
    active-gateway ip mac 12:00:00:00:6b:00
    active-gateway ip {{ variables.CMN_IP_GATEWAY }}
    ip ospf 2 area 0.0.0.0
{%- endif %}
interface vlan {{ variables.CAN_VLAN }}
    vrf attach Customer
    description CAN
    ip mtu 9198
    ip address {{ variables.CAN_IP_SECONDARY }}/{{ variables.CAN_PREFIX_LEN }}
    active-gateway ip mac 12:00:00:00:6b:00
    active-gateway ip {{ variables.CAN_IP_GATEWAY }}
vsx
    system-mac 02:00:00:00:6b:00
    inter-switch-link lag 256
    role secondary
    keepalive peer 192.168.255.0 source 192.168.255.1 vrf keepalive
    linkup-delay-timer 600
    vsx-sync vsx-global
ip dns server-address {{ variables.NMNLB_DNS }}
{% include '1.2/aruba/common/prefix-list.j2' %}
{% include '1.2/aruba/common/route-map.j2' %}
router ospf 2 vrf Customer
    router-id {{ variables.LOOPBACK_IP }}
    default-information originate
    area 0.0.0.0
router ospf 1
    router-id {{ variables.LOOPBACK_IP }}
    redistribute bgp
    area 0.0.0.0
{% include '1.2/aruba/common/bgp.secondary.j2' %}
https-server vrf Customer
https-server vrf default
https-server vrf mgmt
{# end sw-spine.secondary #}