[flake8]
select = B,B9,BLK,C,D,DAR,E,F,I,W,C4,N
ignore = E203,E501,W503,WPS111,WPS201,WPS202,WPS210,WPS211,WPS213,WPS219,WPS220,WPS221,WPS216,WPS226,WPS231,WPS232,WPS305,WPS336,WPS432,I001,I003,I004,I005,BLK100
max-line-length = 120
application-import-names = canu,tests
import-order-style = google
exclude= canu/bin,canu/lib
allowed-domain-names=result
per-file-ignores=
    tests/*: WPS204,WPS218
    tests/test_validate_network_cabling.py: WPS323
    tests/test_report_switch_cabling.py: WPS323