bandit==1.7.0
click==8.0.3
click-default-group==1.2.2
click-help-colors==0.9.1
click-option-group==0.5.3
click-params==0.1.2
click-spinner==0.1.10
darglint==1.8.0
docutils==0.17.1
eradicate==2.0.0
flake8==3.9.2
flake8-bandit==2.1.2
flake8-black==0.2.3
flake8-broken-line==0.3.0
flake8-bugbear==21.9.2
flake8-commas==2.0.0
flake8-comprehensions==3.7.0
flake8-debugger==4.0.0
flake8-docstrings==1.6.0
flake8-eradicate==1.1.0
flake8-import-order==0.18.1
flake8-isort==4.0.0
flake8-polyfill==1.0.2
flake8-quotes==3.3.0
flake8-rst-docstrings==0.2.3
flake8-string-format==0.3.0
natsort==7.1.1
nox==2021.10.1
openpyxl==3.0.9
pep8-naming==0.12.1
pydocstyle==6.1.1
pytest==6.2.5
pytest-cov==3.0.0
pytest-sugar==0.9.4
requests==2.26.0
requests-toolbelt==0.9.1
responses==0.14.0
testfixtures==6.18.3
virtualenv==20.8.1
yamale==3.0.8