{#- mtn_nmn_vlan #}
{%- for cabinet in variables.NMN_MTN_VLANS %}
interface vlan{{ cabinet.VlanID }}
 mode L3
 description {{ cabinet.Name }}
 no shutdown
 mtu 9216
 ip address {{ cabinet.IP }}/{{ cabinet.PREFIX_LENGTH }}
 ip ospf 1 area 0.0.0.0
 ip ospf passive
 ip helper-address 10.92.100.222
 !
{% set vrrp_id = cabinet.VlanID|string %} vrrp-group {{ vrrp_id[:1] }}{{ vrrp_id[-1:] }}
  virtual-address {{ cabinet.Gateway }}

{%- endfor %}
{#- end mtn_nmn_vlan #}