{#- sw-spine.secondary #}
{%- include '1.2/aruba/common/unknown.j2' %}
hostname {{ variables.HOSTNAME }}
{%- include '1.2/aruba/common/banner-motd.j2' %}
no ip icmp redirect
vrf Customer
vrf keepalive
ntp server {{ variables.NCN_W001 }}
ntp server {{ variables.NCN_W002 }}
ntp server {{ variables.NCN_W003 }}
ntp enable


ssh server vrf Customer
ssh server vrf default
ssh server vrf keepalive
ssh server vrf mgmt
{%- include '1.2/aruba/common/acl.j2' %}

vlan {{ variables.NATIVE_VLAN }}
vlan {{ variables.NMN_VLAN }}
    name NMN
    apply access-list ip nmn-hmn in
    apply access-list ip nmn-hmn out
vlan {{ variables.HMN_VLAN }}
    name HMN
    apply access-list ip nmn-hmn in
    apply access-list ip nmn-hmn out
vlan {{ variables.CMN_VLAN }}
    name CMN
{%- if variables.CAN != None %}
vlan {{ variables.CAN_VLAN }}
    name CAN
{%- endif %}
vlan 10
    name SUN
spanning-tree
{#- forward delay added to help with pxe boots. CASMNET-1099 + CASMTRIAGE-2793 #}
spanning-tree forward-delay 4
spanning-tree priority 0
spanning-tree config-name MST0
spanning-tree config-revision 1
interface mgmt
    shutdown
    ip dhcp
qos queue-profile Aruba
    vsx-sync
    !
    map queue 0 local-priority 0
    name queue 0 Best-effort
    map queue 1 local-priority 1
    name queue 1 Background
    map queue 2 local-priority 2
    name queue 2 Excellent-effort
    map queue 3 local-priority 3
    name queue 3 Critical-applications
    map queue 4 local-priority 4
    name queue 4 Video
    map queue 5 local-priority 5
    name queue 5 Voice
    map queue 6 local-priority 6
    name queue 6 Inter-network-control
    map queue 7 local-priority 7
    name queue 7 Network-control
qos schedule-profile Aruba
    vsx-sync
    !
    strict queue 0 
    strict queue 1 
    strict queue 2 
    strict queue 3 
    strict queue 4 
    strict queue 5 
    strict queue 6 
    strict queue 7 
apply qos queue-profile Aruba schedule-profile Aruba
qos trust dscp

{% include '1.2/aruba/full/spine-to-leaf.lag.j2' %}
{% include '1.2/aruba/common/spine-to-cdu.lag.j2' %}
{% include '1.2/aruba/common/vsx_isl.secondary.j2' %}

interface loopback 0
    ip address {{ variables.LOOPBACK_IP }}/32
    ipv6 address  {{ variables.LOOPBACK_IPv6 }}/128
    ip ospf 1 area 0.0.0.0
    ipv6 ospfv3 1 area 0.0.0.0
    ip pim-sparse enable
    ipv6 pim6-sparse enable
interface loopback 1
    ip address 10.2.0.2/32
    ip ospf 1 area 0.0.0.0
    ip pim-sparse enable
interface vlan {{ variables.NATIVE_VLAN }}
    ip mtu 9198
    ip address {{ variables.MTL_IP }}/{{variables.MTL_PREFIX_LEN}}
    active-gateway ip mac 12:00:00:00:6b:00
    active-gateway ip {{ variables.MTL_IP_GATEWAY }}
    ipv6 address {{ variables.MTL_IPv6 }}/{{variables.MTL_PREFIX_LEN_IPv6}}
    active-gateway ipv6 mac 12:01:00:00:01:06
    active-gateway ipv6 fe80::1
    ipv6 address autoconfig
    ipv6 nd ra other-config-flag
    no ipv6 nd suppress-ra
    ip helper-address 10.92.100.222
    ip ospf 1 area 0.0.0.0
    ip ospf passive
interface vlan {{ variables.NMN_VLAN }}
    description NMN
    ip mtu 9198
    ip address {{ variables.NMN_IP }}/{{variables.NMN_PREFIX_LEN}}
    active-gateway ip mac 12:00:00:00:6b:00
    active-gateway ip {{ variables.NMN_IP_GATEWAY }}
    ipv6 address {{ variables.NMN_IPv6 }}/{{variables.NMN_PREFIX_LEN_IPv6}}
    active-gateway ipv6 mac 12:01:00:00:01:06
    active-gateway ipv6 fe80::1
    ipv6 nd ra other-config-flag
    no ipv6 nd suppress-ra
    ip helper-address 10.92.100.222
    ip ospf 1 area 0.0.0.0
    ipv6 ospfv3 1 area 0.0.0.0
    ip igmp enable
    ipv6 mld enable
    ip pim-sparse enable
    ipv6 pim6-sparse enable
interface vlan {{ variables.HMN_VLAN }}
    description HMN
    ip mtu 9198
    ip address {{ variables.HMN_IP }}/{{variables.HMN_PREFIX_LEN}}
    active-gateway ip mac 12:00:00:00:6b:00
    active-gateway ip {{ variables.HMN_IP_GATEWAY }}
    ipv6 address {{ variables.HMN_IPv6 }}/{{variables.HMN_PREFIX_LEN_IPv6}}
    active-gateway ipv6 mac 12:01:00:00:01:06
    active-gateway ipv6 fe80::1
    ipv6 nd ra other-config-flag
    no ipv6 nd suppress-ra
    ip helper-address 10.94.100.222
    ip ospf 1 area 0.0.0.0
    ip ospf passive
    ipv6 ospfv3 1 area 0.0.0.0
    ipv6 ospfv3 passive
    ip igmp enable
    ipv6 mld enable
    ip pim-sparse enable
    ipv6 pim6-sparse enable
{%- if variables.CMN != None %}
interface vlan {{ variables.CMN_VLAN }}
    vrf attach Customer
    description CMN
    ip mtu 9198
    ip address {{ variables.CMN_IP }}/{{ variables.CMN_PREFIX_LEN }}
    active-gateway ip mac 12:00:00:00:6b:00
    active-gateway ip {{ variables.CMN_IP_GATEWAY }}
    ipv6 address {{ variables.CMN_IPv6 }}/{{variables.CMN_PREFIX_LEN_IPv6}}
    active-gateway ipv6 mac 12:01:00:00:01:06
    active-gateway ipv6 fe80::1
    ipv6 nd ra other-config-flag
    no ipv6 nd suppress-ra
    ip helper-address 10.92.100.222
    ip ospf 2 area 0.0.0.0
    ip ospf passive
    ipv6 ospfv3 2 area 0.0.0.0
    ipv6 ospfv3
    ip igmp enable
    ipv6 mld enable
{%- endif %}
{%- if variables.CAN != None %}
interface vlan {{ variables.CAN_VLAN }}
    vrf attach Customer
    description CAN
    ip mtu 9198
    ip address {{ variables.CAN_IP_SECONDARY }}/{{ variables.CAN_PREFIX_LEN }}
    active-gateway ip mac 12:00:00:00:6b:00
    active-gateway ip {{ variables.CAN_IP_GATEWAY }}
    ipv6 address {{ variables.CAN_IPv6 }}/{{variables.CAN_PREFIX_LEN_IPv6}}
    active-gateway ipv6 mac 12:01:00:00:01:06
    active-gateway ipv6 fe80::1
    ipv6 nd ra other-config-flag
    no ipv6 nd suppress-ra
    ip helper-address 10.92.100.222
    ip ospf 2 area 0.0.0.0
    ipv6 ospfv3 2 area 0.0.0.0
    ipv6 ospfv3
    ip igmp enable
    ipv6 mld enable
{%- endif %}
ip dns server-address {{ variables.NMNLB_DNS }}
{% include '1.2/aruba/common/prefix-list.j2' %}
{% include '1.2/aruba/common/route-map.j2' %}
router ospf 2 vrf Customer
    router-id {{ variables.LOOPBACK_IP }}
    default-information originate
    area 0.0.0.0
router ospfv3 2 vrf Customer
    router-id {{ variables.LOOPBACK_IP }}
    default-information originate
    area 0.0.0.0
router ospf 1
    router-id {{ variables.LOOPBACK_IP }}
    redistribute bgp
    area 0.0.0.0
router ospfv3 1
    router-id {{ variables.LOOPBACK_IP }}
    redistribute bgp
    area 0.0.0.0
{% include '1.2/aruba/common/bgp.secondary.j2' %}
router pim
    enable
    rp-candidate source-ip-interface loopback1 group-prefix 224.0.0.0/4
    bsr-candidate source-ip-interface loopback0
    active-active
router pim6
    enable
    rp-candidate source-ip-interface loopback0 group-prefix ff00::/8
    rp-candidate priority 1
    bsr-candidate source-ip-interface loopback0
    active-active
https-server vrf Customer
https-server vrf default
https-server vrf mgmt
router msdp
    enable
    ip msdp peer 10.2.0.2
        connect-source loopback0
        enable
        mesh-group 1
{# end sw-spine.secondary #}