{#- rvr_nmn_vlan #}
{%- for cabinet in variables.NMN_RVR_VLANS %}
vlan {{ cabinet.VlanID }}
    name {{ cabinet.Name }}_nmn
    apply access-list ip rvr-hmn-nmn in
    apply access-list ip rvr-hmn-nmn out
interface vlan {{ cabinet.VlanID }}
    vrf attach {{ variables.VRF }}
    description {{ cabinet.Name }}_nmn
    ip mtu 9198
    ip address {{ cabinet.IP }}/{{ cabinet.PREFIX_LENGTH }}
    active-gateway ip mac 12:00:00:00:73:00
    active-gateway ip {{ cabinet.Gateway }}
    ip ospf 1 area 0.0.0.0
    ip ospf passive

{%- endfor %}
{#- end rvr_nmn_vlan #}