{#- leaf-bmc-to-spine #}
{%- set ns = namespace(lag_displayed=false) %}
{%- for node in cabling.nodes if node.subtype == "spine" %}
{%- if ns.lag_displayed == false %}
{%- set ns.lag_displayed = true %}
interface port-channel100
 description {{ node.config.DESCRIPTION }}
 no shutdown
 switchport mode trunk
 switchport access vlan {{ variables.NATIVE_VLAN }}
 mtu 9216
{%- endif %}
{%- endfor %}

{%- for node in cabling.nodes if node.subtype == "spine"%}

interface ethernet1/1/{{ node.config.PORT }}
 no shutdown
 channel-group 100 mode active
 no switchport
 mtu 9216
 speed 10000
 flowcontrol receive off
 flowcontrol transmit off

{%- endfor %}
{#- end leaf-bmc-to-spine #}
