{#- spine-to-leaf.lag #}
{%- for node in cabling.nodes if node.subtype == "leaf" %}
{%- if node.primary == true %}

interface lag {{ node.config.LAG_NUMBER }} multi-chassis
    no shutdown
    description spine_to_leaf_lag
    no routing
    vlan trunk native {{ variables.NATIVE_VLAN }}
{%- if variables.RVR_NMN_NODES  %}
    vlan trunk allowed {{ groupby_vlan_range(variables.NMN_RVR_VLAN_LIST + variables.SPINE_LEAF_VLANS) }}
{%- else %}
    vlan trunk allowed {{ groupby_vlan_range(variables.LEAF_BMC_VLANS) }}
{%- endif %}
    lacp mode active
    spanning-tree root-guard
{%- endif %}

interface 1/1/{{ node.config.PORT }}
    no shutdown
    mtu 9198
    description {{ node.config.DESCRIPTION }}
    lag {{ node.config.LAG_NUMBER }}

{%- endfor %}
{#- end spine-to-leaf.lag #}
