{#- bgp #}
router bgp {{ variables.SWITCH_ASN }}
    bgp router-id {{ variables.LOOPBACK_IP }}
    maximum-paths 32
    timers bgp 1 3
    distance bgp 20 70
    {%- for name, ip in variables.CMN_IPs.items() if "sw-spine-002" in name %}
    neighbor {{ ip }} remote-as {{ variables.SWITCH_ASN }}
    {%- endfor %}
    {%- for name, ip in variables.CMN_IPs.items() if "ncn-w" in name %}
    neighbor {{ ip }} remote-as {{ variables.CMN_ASN }}
    neighbor {{ ip }} passive
    {%- endfor %}
    address-family ipv4 unicast
        {%- for name, ip in variables.CMN_IPs.items() if "sw-spine-002" in name %}
        neighbor {{ ip }} activate
        {%- endfor %}
        {%- for name, ip in variables.CMN_IPs.items() if "ncn-w" in name %}
        neighbor {{ ip }} activate
        neighbor {{ ip }} route-map {{ name }}-Customer in
        {%- endfor %}
    exit-address-family
    vrf {{ variables.VRF }}
        bgp router-id {{ variables.LOOPBACK_IP }}
        maximum-paths 32
        timers bgp 1 3
        distance bgp 20 70
        {%- for name, ip in variables.NMN_IPs.items() if "sw-spine-002" in name %}
        neighbor {{ ip }} remote-as {{ variables.SWITCH_ASN }}
        {%- endfor %}
        {%- for name, ip in variables.NMN_IPs.items() if "ncn-w" in name %}
        neighbor {{ ip }} remote-as {{ variables.NMN_ASN }}
        neighbor {{ ip }} passive
        {%- endfor %}
        address-family ipv4 unicast
            {%- for name, ip in variables.NMN_IPs.items() if "sw-spine-002" in name %}
            neighbor {{ ip }} activate
            {%- endfor %}
            {%- for name, ip in variables.NMN_IPs.items() if "ncn-w" in name %}
            neighbor {{ ip }} activate
            neighbor {{ ip }} route-map {{ name }} in
            {%- endfor %}
{#- end bgp #}
