{#- leaf-bmc-to-spine #}
{%- set ns = namespace(lag_displayed=false) %}
{%- for node in cabling.nodes if node.subtype == "spine" %}
{%- if ns.lag_displayed == false %}
{%- set ns.lag_displayed = true %}
interface lag {{ node.config.LAG_NUMBER }}
    no shutdown
    description {{ node.config.DESCRIPTION }}
    no routing
    vlan trunk native {{ variables.NATIVE_VLAN }}
    vlan trunk allowed {{ groupby_vlan_range(variables.LEAF_BMC_VLANS) }}
    lacp mode active
{%- endif %}
{%- endfor %}

{%- for node in cabling.nodes if node.subtype == "spine"%}
interface 1/1/{{ node.config.PORT }}
    no shutdown
    mtu 9198
    description {{ node.config.DESCRIPTION }}
    lag {{ node.config.LAG_NUMBER }}

{%- endfor %}
{#- end leaf-bmc-to-spine #}
