{#- acl #}
ip access-list nmn-hmn
{%- if variables.NMN and variables.HMN %}
 seq {% set sequence = 10 %}{{ sequence }} deny ip {{ variables.NMN_NETWORK_IP }}/{{ variables.NMN_PREFIX_LEN }} {{ variables.HMN_NETWORK_IP }}/{{ variables.HMN_PREFIX_LEN }}
{%- endif %}
{%- if variables.HMN and variables.NMN %}
 seq {% set sequence = sequence+10 %}{{ sequence }} deny ip {{ variables.HMN_NETWORK_IP }}/{{ variables.HMN_PREFIX_LEN }} {{ variables.NMN_NETWORK_IP }}/{{ variables.NMN_PREFIX_LEN }}
{%- endif %}
{%- if variables.NMN and variables.HMN_MTN %}
 seq {% set sequence = sequence+10 %}{{ sequence }} deny ip {{ variables.NMN_NETWORK_IP }}/{{ variables.NMN_PREFIX_LEN }} {{ variables.HMN_MTN_NETWORK_IP }}/{{ variables.HMN_MTN_PREFIX_LEN }}
{%- endif %}
{%- if variables.HMN and variables.NMN_MTN %}
 seq {% set sequence = sequence+10 %}{{ sequence }} deny ip {{ variables.HMN_NETWORK_IP }}/{{ variables.HMN_PREFIX_LEN }} {{ variables.NMN_MTN_NETWORK_IP }}/{{ variables.NMN_MTN_PREFIX_LEN }}
{%- endif %}
{%- if variables.NMN_MTN and variables.HMN %}
 seq {% set sequence = sequence+10 %}{{ sequence }} deny ip {{ variables.NMN_MTN_NETWORK_IP }}/{{ variables.NMN_MTN_PREFIX_LEN }} {{ variables.HMN_NETWORK_IP }}/{{ variables.HMN_PREFIX_LEN }}
{%- endif %}
{%- if variables.NMN_MTN and variables.HMN_MTN %}
 seq {% set sequence = sequence+10 %}{{ sequence }} deny ip {{ variables.NMN_MTN_NETWORK_IP }}/{{ variables.NMN_MTN_PREFIX_LEN }} {{ variables.HMN_MTN_NETWORK_IP }}/{{ variables.HMN_MTN_PREFIX_LEN }}
{%- endif %}
{%- if variables.HMN_MTN and variables.NMN %}
 seq {% set sequence = sequence+10 %}{{ sequence }} deny ip {{ variables.HMN_MTN_NETWORK_IP }}/{{ variables.HMN_MTN_PREFIX_LEN }} {{ variables.NMN_NETWORK_IP }}/{{ variables.NMN_PREFIX_LEN }}
{%- endif %}
{%- if variables.HMN_MTN and variables.NMN_MTN %}
 seq {% set sequence = sequence+10 %}{{ sequence }} deny ip {{ variables.HMN_MTN_NETWORK_IP }}/{{ variables.HMN_MTN_PREFIX_LEN }} {{ variables.NMN_MTN_NETWORK_IP }}/{{ variables.NMN_MTN_PREFIX_LEN }}
{%- endif %}
 seq {% set sequence = sequence+10 %}{{ sequence }} permit ip any any
ip access-list cmn-can
{%- if variables.CMN and variables.CAN %}
 seq {% set sequence = 10 %}{{ sequence }} deny ip {{ variables.CMN_NETWORK_IP }}/{{ variables.CMN_PREFIX_LEN }} {{ variables.CAN_NETWORK_IP }}/{{ variables.CAN_PREFIX_LEN }}
 seq {% set sequence = sequence+10 %}{{ sequence }} deny ip {{ variables.CAN_NETWORK_IP }}/{{ variables.CAN_PREFIX_LEN }} {{ variables.CMN_NETWORK_IP }}/{{ variables.CMN_PREFIX_LEN }}
 seq {% set sequence = sequence+10 %}{{ sequence }} permit ip any any
{%- endif %}
{%- if not variables.CAN %}
{% set sequence = 0 %}
{%- endif %}
{%- if variables.CMN and variables.CHN %}
 seq {% set sequence = sequence+10 %}{{ sequence }} deny ip {{ variables.CMN_NETWORK_IP }}/{{ variables.CMN_PREFIX_LEN }} {{ variables.CHN_NETWORK_IP }}/{{ variables.CHN_PREFIX_LEN }}
 seq {% set sequence = sequence+10 %}{{ sequence }} deny ip {{ variables.CHN_NETWORK_IP }}/{{ variables.CHN_PREFIX_LEN }} {{ variables.CMN_NETWORK_IP }}/{{ variables.CMN_PREFIX_LEN }}
 seq {% set sequence = sequence+10 %}{{ sequence }} permit ip any any
{%- endif %}
ip access-list ssh
 seq 10 permit ip {{ variables.HMN_NETWORK_IP }}/{{ variables.HMN_PREFIX_LEN }} any
 seq 20 deny ip any any
{#- end acl #}
