{# acl #}
access-list ip nmn-hmn
{%- if variables.NMN and variables.HMN %}
    deny any ***===> {{ variables.NMN }} ***===> {{ variables.HMN }}
{%- endif %}
{%- if variables.NMN and variables.HMN_MTN %}
    deny any ***===NMN> {{ variables.NMN }} ***===HMN_MTN> {{ variables.HMN_MTN }}
{%- endif %}
{%- if variables.HMN and variables.NMN %}
    deny any ***===> {{ variables.HMN}} ***===> {{ variables.NMN }}
{%- endif %}
{%- if variables.HMN and variables.NMN_MTN %}
    deny any ***===> {{ variables.HMN }} ***===> {{ variables.NMN_MTN }}
{%- endif %}
{%- if variables.NMN_MTN and variables.HMN %}
    deny any ***===> {{ variables.NMN_MTN }} ***===> {{ variables.HMN }}
{%- endif %}
{%- if variables.NMN_MTN and variables.HMN_MTN %}
    deny any ***===> {{ variables.NMN_MTN }} ***===> {{ variables.HMN_MTN }}
{%- endif %}
{%- if variables.HMN_MTN and variables.NMN %}
    deny any ***===> {{ variables.HMN_MTN }} ***===> {{ variables.NMN }}
{%- endif %}
{%- if variables.HMN_MTN and variables.NMN_MTN %}
    deny any ***===> {{ variables.HMN_MTN }} ***===> {{ variables.NMN_MTN }}
{%- endif %}
    permit any any any
{#- end acl #}