{#
bmc
#}
{% for node in CABLING.NODES %}
{% if NODE.SUBTYPE == "bmc" %}
interface {{ NODE.CONFIG.INTERFACE }}
no shutdown
mtu 9198
description {{ NODE.CONFIG.DESCRIPTION }}    
no routing
vlan access 4
spanning-tree bpdu-guard
spanning-tree port-type admin-edge
{% endif %}
{% endfor %}
{#
end-bmc
#}