{#
cec
#}
{% for node in CABLING.NODES %}
{% if NODE.SUBTYPE == "cec" %}
interface {{ NODE.CONFIG.INTERFACE_LAG }}
no shutdown
mtu 9198
description {{ NODE.CONFIG.DESCRIPTION }}    
no routing
vlan access 3000
spanning-tree bpdu-guard
spanning-tree port-type admin-edge
{% endif %}
{% endfor %}
{#
end-cec
#}