{#
cmm
#}
{% for node in cabling.nodes %}
{% if node.subtype == "cmm" %}
interface lag {{ node.config.lag_number }} static
no shutdown
description {{ node.config.description }}
no routing
vlan trunk native 2000
vlan trunk allowed 2000,3000,4091
spanning-tree root-guard

interface {{ node.config.interface_lag}}
no shutdown
mtu 9198
description {{ node.config.description }}    
interface lag {{ node.config.lag_number }}
{% endif %}
{% endfor %}
{#
end-cmm
#}