{#
cmm
#}
{% for node in CABLING.NODES %}
{% if NODE.SUBTYPE == "cmm" %}
interface lag {{ NODE.CONFIG.LAG_NUMBER }} static
no shutdown
description {{ NODE.CONFIG.DESCRIPTION }}
no routing
vlan trunk native 2000
vlan trunk allowed 2000,3000,4091
spanning-tree root-guard

interface {{ NODE.CONFIG.INTERFACE_LAG }}
no shutdown
mtu 9198
description {{ NODE.CONFIG.DESCRIPTION }}    
interface lag {{ NODE.CONFIG.LAG_NUMBER }}
{% endif %}
{% endfor %}
{#
end-cmm
#}