# {{ cabling.hardware_type | upper }} Port configurations and standards - CSM v{{ cabling.version }}

Hardware Type: {{ cabling.hardware_type | upper }}

Software Version: CSM v{{ cabling.version }}

# NCN-Master port config
```
{% include 'common/ncn-m.lag.j2' %}
```

# NCN-Worker port config
```
{% include 'common/ncn-w.lag.j2' %}
```

# NCN-Storage port config
```
{% include 'common/ncn-s.lag.j2' %}
```

# UAN port config
```
{% include 'common/uan.j2' %}
```

# Login node port config
```
{% include 'login.j2' %}
```

# CMM port config
```
{% include 'common/cmm.j2' %}
```
# CEC port config
```
{% include 'common/cec.j2' %}
```
# BMC port config
```
{% include 'common/bmc.j2' %}
```