{# leaf-to-spine.lag #}
***===> leaf-to-spine.lag.j2
{%- for node in cabling.nodes %}
{%- if node.subtype == "spine" %}

interface lag ***===> {{ node.config.LAG_NUMBER }}
no shutdown
description ***===> {{ node.config.DESCRIPTION }}
no routing
vlan trunk native 1
vlan trunk allowed 2,4,7,10
lacp mode active

interface ***===> {{ node.config.INTERFACE_LAG }}
no shutdown
mtu 9198
lag ***===> {{ node.config.LAG_NUMBER }}
{%- endif %}
{%- endfor %}
***===> end leaf-to-spine.lag.j2
{#- end leaf-to-spine.lag #}