{# leaf-to-leaf-bmc #}
***===> leaf-to-leaf-bmc.lag.j2
{%- for node in cabling.nodes if node.subtype == "leaf-bmc" %}

interface lag ***===> {{ node.config.LAG_NUMBER }}
    no shutdown
    description ***===> {{ node.config.DESCRIPTION }}
    no routing
    vlan trunk native 1
    vlan trunk allowed 2,4,7
    lacp mode active

interface ***===> {{ node.config.INTERFACE_LAG }}
    no shutdown
    mtu 9198
    lag ***===> {{ node.config.LAG_NUMBER }}
{%- endfor %}
***===> end leaf-to-leaf-bmc.lag.j2
{#- end leaf-to-leaf-bmc #}