{#
Master
#}

{% for master in nodes %}
{% if master.subtype == "master" %}
interface lag {{ master.lag_number }} multi-chassis
no shutdown
description {{ master.description }}
no routing
vlan trunk native 1
vlan trunk allowed 1-2,4,7,10
lacp mode active
lacp fallback
spanning-tree port-type admin-edge
interface {{ master.interface_number }}
no shutdown
mtu 9198
description {{ master.description }}    
lag {{ master.lag_number }}
{% endif %}
{% endfor %}
{#
end-master
#}