vlan 3000
interface vlan 3000
ip mtu 9198
ip address 10.104.0.2/22
active-gateway ip mac 12:00:00:00:73:00
active-gateway ip 10.104.0.1
ipv6 address autoconfig
ip helper-address 10.94.100.222
ip ospf 1 area 0.0.0.0
ip igmp enable

vlan 3001
interface vlan 3001
ip mtu 9198
ip address 10.104.4.2/22
active-gateway ip mac 12:00:00:00:73:00
active-gateway ip 10.104.4.1
ipv6 address autoconfig
ip helper-address 10.94.100.222
ip ospf 1 area 0.0.0.0
ip igmp enable

vlan 3002
interface vlan 3002
ip mtu 9198
ip address 10.104.8.2/22
active-gateway ip mac 12:00:00:00:73:00
active-gateway ip 10.104.8.1
ipv6 address autoconfig
ip helper-address 10.94.100.222
ip ospf 1 area 0.0.0.0
ip igmp enable

vlan 3003
interface vlan 3003
ip mtu 9198
ip address 10.104.12.2/22
active-gateway ip mac 12:00:00:00:73:00
active-gateway ip 10.104.12.1
ipv6 address autoconfig
ip helper-address 10.94.100.222
ip ospf 1 area 0.0.0.0
ip igmp enable