{#
storage
#}
{% for node in CABLING.NODES %}
{% if NODE.SUBTYPE == "storage" %}
interface lag {{ NODE.CONFIG.LAG_NUMBER }} multi-chassis
no shutdown
description {{ NODE.CONFIG.DESCRIPTION }}
no routing
vlan trunk native 1
vlan trunk allowed 1-2,4,7,10
lacp mode active
lacp fallback
spanning-tree port-type admin-edge

interface {{ NODE.CONFIG.INTERFACE_LAG }}
no shutdown
mtu 9198
description {{ NODE.CONFIG.DESCRIPTION }}    
lag {{ NODE.CONFIG.LAG_NUMBER }}
{% endif %}
{% endfor %}
{#
end-storage
#}