Port configurations - CSM 

#ncn master port config
```
{%include 'master.j2' %}
```

#ncn worker port config
```
{%include 'worker.j2' %}
```

#ncn storage port config
```
{%include 'storage.j2' %}
```