{# spine-to-cdu #}
***===> spine-to-cdu.j2
{%- for node in cabling.nodes if node.subtype == "cdu" %}

interface ***===> {{ node.config.PORT }}
    no shutdown
    mtu 9198
    description ***===> {{ node.config.DESCRIPTION }}
    ip address ***===> {{ node.config.PT_TO_PT_IP }}
    ip ospf 1 area 0.0.0.0
    ip ospf network point-to-point
    ip ospf bfd
{%- endfor %}
***===> end spine-to-cdu.j2
{#- end spine-to-cdu #}