{#
storage
#}
{% for node in cabling.nodes %}
{% if node.subtype == "storage" %}
interface lag {{ node.config.lag_number }} multi-chassis
no shutdown
description {{ node.config.description }}
no routing
vlan trunk native 1
vlan trunk allowed 1-2,4,7,10
lacp mode active
lacp fallback
spanning-tree port-type admin-edge

interface {{ node.config.interface}}
no shutdown
mtu 9198
description {{ node.config.description }}    
lag {{ node.config.lag_number }}
{% endif %}
{% endfor %}
{#
end-storage
#}