{# sw-cdu.primary #}
hostname {{ HOSTNAME }}
user admin group administrators password plaintext {{ PASSWORD }}
bfd
no ip icmp redirect
vrf keepalive
ntp server {{ NCN_W001 }}
ntp server {{ NCN_W002 }}
ntp server {{ NCN_W003 }}
ntp enable

ssh server vrf default
ssh server vrf mgmt
access-list ip nmn-hmn
    10 deny any {{ NMN }} {{ HMN }}
    20 deny any {{ NMN }} {{ HMN_MTN }}
    30 deny any {{ HMN}} {{ NMN }}
    40 deny any {{ HMN }} {{ NMN_MTN }}
    50 deny any {{ NMN_MTN }} {{ HMN }}
    60 deny any {{ NMN_MTN }} {{ HMN_MTN }}
    70 deny any {{ HMN_MTN }} {{ NMN }}
    80 deny any {{ HMN_MTN }} {{ NMN_MTN }}
    90 permit any any any

vlan 2000
    apply access-list ip nmn-hmn in
    apply access-list ip nmn-hmn out
vlan 2001
    apply access-list ip nmn-hmn in
    apply access-list ip nmn-hmn out
vlan 2002
    apply access-list ip nmn-hmn in
    apply access-list ip nmn-hmn out
vlan 2003
    apply access-list ip nmn-hmn in
    apply access-list ip nmn-hmn out
vlan 3000
    apply access-list ip nmn-hmn in
    apply access-list ip nmn-hmn out
vlan 3001
    apply access-list ip nmn-hmn in
    apply access-list ip nmn-hmn out
vlan 3002
    apply access-list ip nmn-hmn in
    apply access-list ip nmn-hmn out
vlan 3003
    apply access-list ip nmn-hmn in
    apply access-list ip nmn-hmn out

spanning-tree
spanning-tree priority 5
spanning-tree max-age 6
spanning-tree config-name MST0
spanning-tree config-revision 1
interface mgmt
shutdown

{% include 'cmm.j2' %}
{% include 'cec.j2' %}
{% include 'cdu-to-spine.j2' %}

interface lag 99
    no shutdown
    description ISL link
    no routing
    vlan trunk native 1 tag
    vlan trunk allowed all
    lacp mode active

interface {{ VSX_KEEPALIVE }}
    no shutdown
    mtu 9198
    vrf attach keepalive
    description vsx keepalive
    ip address 192.168.255.0/31

interface {{ VSX_ISL_PORT1 }}
    no shutdown
    mtu 9198
    description vsx isl
    lag 99
interface {{ VSX_ISL_PORT2 }}
    no shutdown
    mtu 9198
    description vsx isl
    lag 99
interface loopback 0
    ip address {{ LOOPBACK_IP }}
    ipv6 address {{ IPV6_IP }}
    ip ospf 1 area 0.0.0.0
    ipv6 ospfv3 1 area 0.0.0.0
interface vlan 1
    shutdown
    
vlan2000
interface vlan 2000
ip mtu 9198
ip address 10.100.0.2/22
active-gateway ip mac 12:00:00:00:73:00
active-gateway ip 10.100.0.1
ip helper-address 10.92.100.222
ip ospf 1 area 0.0.0.0
ip igmp enable

vlan2001
interface vlan 2001
ip mtu 9198
ip address 10.100.4.2/22
active-gateway ip mac 12:00:00:00:73:00
active-gateway ip 10.100.4.1
ip helper-address 10.92.100.222
ip ospf 1 area 0.0.0.0
ip igmp enable

vlan2002
interface vlan 2002
ip mtu 9198
ip address 10.100.8.2/22
active-gateway ip mac 12:00:00:00:73:00
active-gateway ip 10.100.8.1
ip helper-address 10.92.100.222
ip ospf 1 area 0.0.0.0
ip igmp enable

vlan2003
interface vlan 2003
ip mtu 9198
ip address 10.100.12.2/22
active-gateway ip mac 12:00:00:00:73:00
active-gateway ip 10.100.12.1
ip helper-address 10.92.100.222
ip ospf 1 area 0.0.0.0
ip igmp enable

vsx
    system-mac 02:00:00:00:73:00
    inter-switch-link lag 99
    role primary
    keepalive peer 192.168.255.1 source 192.168.255.0 vrf keepalive
    linkup-delay-timer 600
    vsx-sync vsx-global

router ospf 1
    router-id {{ LOOPBACK_IP }}
    area 0.0.0.0
router ospfv3 1
    router-id {{ LOOPBACK_IP }}
    area 0.0.0.0
https-server vrf default
https-server vrf mgmt
{# end sw-cdu.primary #}