hostname {{ hostname }}
user admin group administrators password plaintext {{ password }}
bfd
no ip icmp redirect
vrf CAN
vrf keepalive
ntp server {{ ncn-w001 }}
ntp server {{ ncn-w002 }}
ntp server {{ ncn-w003 }}
ntp enable
!
!
!
ssh server vrf default
ssh server vrf mgmt
access-list ip nmn-hmn
    10 deny any {{NMN}} {{HMN}}
    20 deny any {{NMN}} {{MTN_HMN}}
    30 deny any {{HMN}} {{NMN}}
    40 deny any {{HMN}} {{MTN_NMN}}
    50 deny any {{MTN_NMN}} {{HMN}}
    60 deny any {{MTN_NMN}} {{MTN_HMN}}
    70 deny any {{MTN_HMN}} {{NMN}}
    80 deny any {{MTN_HMN}} {{MTN_NMN}}
    90 permit any any any
vlan 1
vlan 2
    name NMN
    apply access-list ip nmn-hmn in
    apply access-list ip nmn-hmn out
vlan 4
    name HMN
    apply access-list ip nmn-hmn in
    apply access-list ip nmn-hmn out
vlan 7
    name CAN
vlan 10
    name SUN
spanning-tree
spanning-tree priority 5
spanning-tree max-age 6
spanning-tree config-name MST0
spanning-tree config-revision 1
interface mgmt
shutdown

{% include 'spine-to-agg.lag.j2' %}
{% include 'spine-to-cdu.j2' %}

interface lag 99
    no shutdown
    description ISL link
    no routing
    vlan trunk native 1 tag
    vlan trunk allowed all
    lacp mode active
interface {{ vsx-keepalive }}
    no shutdown
    vrf attach keepalive
    ip address 192.168.255.1/31
interface {{ vsx-isl-port1 }}
    no shutdown
    mtu 9198
    description vsx isl
    lag 99
interface {{ vsx-isl-port2 }}
    no shutdown
    mtu 9198
    description vsx isl
    lag 99
interface loopback 0
    ip address {{ Loopback_IP }}
    ipv6 address {{ IPV6_IP }}
    ip ospf 1 area 0.0.0.0
    ipv6 ospfv3 1 area 0.0.0.0
interface vlan 1
    ip mtu 9198
    ip address {{ MTL_IP }}
    active-gateway ip mac 12:00:00:00:6b:00
    active-gateway ip {{ MTL_IP_Gateway }}
    ipv6 address autoconfig
    ip helper-address 10.92.100.222
    ipv6 ospfv3 1 area 0.0.0.0
    ip igmp enable
interface vlan 2
    ip mtu 9198
    ip address {{ NMN_IP }}
    active-gateway ip mac 12:00:00:00:6b:00
    active-gateway ip {{ NMN_IP_Gateway }}
    ipv6 address autoconfig
    ip helper-address 10.92.100.222
    ipv6 ospfv3 1 area 0.0.0.0
    ip igmp enable
interface vlan 4
    ip mtu 9198
    ip address {{ HMN_IP }}
    active-gateway ip mac 12:00:00:00:6b:00
    active-gateway ip {{ HMN_IP_Gateway }}
    ipv6 address autoconfig
    ip helper-address 10.92.100.222
    ipv6 ospfv3 1 area 0.0.0.0
    ip igmp enable
interface vlan 7
    ip mtu 9198
    ip address {{ CAN_IP }}
    active-gateway ip mac 12:00:00:00:6b:00
    active-gateway ip {{ CAN_IP_Gateway }}
    ipv6 address autoconfig
    ip helper-address 10.92.100.222
    ipv6 ospfv3 1 area 0.0.0.0
    ip igmp enable
vsx
    system-mac 02:00:00:00:6b:00
    inter-switch-link lag 99
    role secondary
    keepalive peer 192.168.255.0 source 192.168.255.1 vrf keepalive
    linkup-delay-timer 600
    vsx-sync vsx-global

https-server vrf default
https-server vrf mgmt
https-server vrf CAN
