{#
uan
#}
{% for node in CABLING.NODES %}
{% if NODE.SUBTYPE == "UAN" %}
INTERFACE LAG {{ NODE.CONFIG.LAG_NUMBER }} multi-chassis
no shutdown
description {{ NODE.CONFIG.DESCRIPTION }}
no routing
vlan trunk native 1
vlan trunk allowed 1-2,4,7
lacp mode active
lacp fallback
spanning-tree port-type admin-edge

interface {{ NODE.CONFIG.INTERFACE_LAG }}
no shutdown
mtu 9198
description {{ NODE.CONFIG.DESCRIPTION }}    
interface lag {{ NODE.CONFIG.LAG_NUMBER }}

interface {{ NODE.CONFIG.INTERFACE_NUMBER }}
no shutdown
mtu 9198
no routing
vlan access 2
description {{ NODE.CONFIG.DESCRIPTION }}
spanning-tree bpdu-guard
spanning-tree port-type admin-edge
{% endif %}
{% endfor %}
{#
end-uan
#}