{#- master #}
{%- for node in cabling.nodes if node.subtype == "master" %}
{%- if node.destination_port == 1%}

interface lag {{ node.config.LAG_NUMBER }} multi-chassis
    no shutdown
    description {{ node.config.DESCRIPTION }}
    no routing
    vlan trunk native {{ variables.NATIVE_VLAN }}
    vlan trunk allowed {{ variables.SPINE_LEAF_VLANS }}
    lacp mode active
    lacp fallback
    spanning-tree bpdu-guard
    spanning-tree port-type admin-edge

interface 1/1/{{ node.config.PORT }}
    no shutdown
    mtu 9198
    description {{ node.config.DESCRIPTION }}
    lag {{ node.config.LAG_NUMBER }}
{%- endif %}
{%- if node.destination_port == 2%}

interface 1/1/{{ node.config.PORT }}
    shutdown
    mtu 9198
    description {{ node.config.DESCRIPTION }}
{%- endif %}
{%- endfor %}
{#- end master #}