{#- acl #}
ipv4 access-list nmn-hmn
ipv4 access-list nmn-hmn bind-point rif
{%- if variables.NMN and variables.HMN %}
ipv4 access-list nmn-hmn seq-number {% set sequence = 10 %}{{ sequence }} deny ip {{ variables.NMN_NETWORK_IP }} mask {{ variables.NMN_NETMASK }} {{ variables.HMN_NETWORK_IP }} mask {{ variables.HMN_NETMASK }}
{%- endif %}
{%- if variables.HMN and variables.NMN %}
ipv4 access-list nmn-hmn seq-number {% set sequence = sequence+10 %}{{ sequence }} deny ip {{ variables.HMN_NETWORK_IP }} mask {{ variables.HMN_NETMASK }} {{ variables.NMN_NETWORK_IP }} mask {{ variables.NMN_NETMASK }}
{%- endif %}
{%- if variables.NMN and variables.HMN_MTN %}
ipv4 access-list nmn-hmn seq-number {% set sequence = sequence+10 %}{{ sequence }} deny ip {{ variables.NMN_NETWORK_IP }} mask {{ variables.NMN_NETMASK }} {{ variables.HMN_MTN_NETWORK_IP }} mask {{ variables.HMN_MTN_NETMASK }}
{%- endif %}
{%- if variables.HMN and variables.NMN_MTN %}
ipv4 access-list nmn-hmn seq-number {% set sequence = sequence+10 %}{{ sequence }} deny ip {{ variables.HMN_NETWORK_IP }} mask {{ variables.HMN_NETMASK }} {{ variables.NMN_MTN_NETWORK_IP }} mask {{ variables.NMN_MTN_NETMASK }}
{%- endif %}
{%- if variables.NMN_MTN and variables.HMN %}
ipv4 access-list nmn-hmn seq-number {% set sequence = sequence+10 %}{{ sequence }} deny ip {{ variables.NMN_MTN_NETWORK_IP }} mask {{ variables.NMN_MTN_NETMASK }} {{ variables.HMN_NETWORK_IP }} mask {{ variables.HMN_NETMASK }}
{%- endif %}
{%- if variables.NMN_MTN and variables.HMN_MTN %}
ipv4 access-list nmn-hmn seq-number {% set sequence = sequence+10 %}{{ sequence }} deny ip {{ variables.NMN_MTN_NETWORK_IP }} mask {{ variables.NMN_MTN_NETMASK }} {{ variables.HMN_MTN_NETWORK_IP }} mask {{ variables.HMN_MTN_NETMASK }}
{%- endif %}
{%- if variables.HMN_MTN and variables.NMN %}
ipv4 access-list nmn-hmn seq-number {% set sequence = sequence+10 %}{{ sequence }} deny ip {{ variables.HMN_MTN_NETWORK_IP }} mask {{ variables.HMN_MTN_NETMASK }} {{ variables.NMN_NETWORK_IP }} mask {{ variables.NMN_NETMASK }}
{%- endif %}
{%- if variables.HMN_MTN and variables.NMN_MTN %}
ipv4 access-list nmn-hmn seq-number {% set sequence = sequence+10 %}{{ sequence }} deny ip {{ variables.HMN_MTN_NETWORK_IP }} mask {{ variables.HMN_MTN_NETMASK }} {{ variables.NMN_MTN_NETWORK_IP }} mask {{ variables.NMN_MTN_NETMASK }}
{%- endif %}
ipv4 access-list nmn-hmn seq-number {% set sequence = sequence+10 %}{{ sequence }} permit udp {{ variables.NMNLB_DHCP }} mask 255.255.255.255 any src-port-range 67 68
ipv4 access-list nmn-hmn seq-number {% set sequence = sequence+10 %}{{ sequence }} permit udp any {{ variables.NMNLB_DHCP }} mask 255.255.255.255 src-port-range 67 68
ipv4 access-list nmn-hmn seq-number {% set sequence = sequence+10 %}{{ sequence }} deny udp any {{ variables.NMNLB_DHCP }} mask 255.255.255.255
ipv4 access-list nmn-hmn seq-number {% set sequence = sequence+10 %}{{ sequence }} deny udp {{ variables.NMNLB_DHCP }} mask 255.255.255.255 any
ipv4 access-list nmn-hmn seq-number {% set sequence = sequence+10 %}{{ sequence }} permit ip any any
ipv4 access-list cmn-can
ipv4 access-list cmn-can bind-point rif
{%- if variables.CMN and variables.CAN %}
ipv4 access-list cmn-can seq-number {% set sequence = 10 %}{{ sequence }} deny ip {{ variables.CMN_NETWORK_IP }} mask {{ variables.CMN_NETMASK }} {{ variables.CAN_NETWORK_IP }} mask {{ variables.CAN_NETMASK }}
ipv4 access-list cmn-can seq-number {% set sequence = sequence+10 %}{{ sequence }} deny ip {{ variables.CAN_NETWORK_IP }} mask {{ variables.CAN_NETMASK }} {{ variables.CMN_NETWORK_IP }} mask {{ variables.CMN_NETMASK }}
{%- endif %}
{%- if not variables.CAN %}
{% set sequence = 0 %}
{%- endif %}
{%- if variables.CMN and variables.CHN %}
ipv4 access-list cmn-can seq-number {% set sequence = sequence+10 %}{{ sequence }} deny ip {{ variables.CMN_NETWORK_IP }} mask {{ variables.CMN_NETMASK }} {{ variables.CHN_NETWORK_IP }} mask {{ variables.CHN_NETMASK }}
ipv4 access-list cmn-can seq-number {% set sequence = sequence+10 %}{{ sequence }} deny ip {{ variables.CHN_NETWORK_IP }} mask {{ variables.CHN_NETMASK }} {{ variables.CMN_NETWORK_IP }} mask {{ variables.CMN_NETMASK }}
{%- endif %}
ipv4 access-list cmn-can seq-number {% set sequence = sequence+10 %}{{ sequence }} permit ip any any
{#- end acl #}