{#- load-balancing #}
load-balancing ingress-port enable
no load-balancing mac-selection destination-mac
no load-balancing mac-selection ethertype
no load-balancing mac-selection source-mac
no load-balancing mac-selection vlan-id
no load-balancing tcp-udp-selection l4-destination-port
no load-balancing tcp-udp-selection l4-source-port
{#- end load-balancing #}
