{#- acl #}
{% set sequence = 0 %}
access-list ip nmn-hmn
{%- if variables.NMN and variables.HMN %}
{% set sequence = sequence+10 %}    {{ sequence }} deny any {{ variables.NMN_NETWORK_IP }}/{{ variables.NMN_NETMASK }} {{ variables.HMN_NETWORK_IP }}/{{ variables.HMN_NETMASK }}
{%- endif %}
{%- if variables.HMN and variables.NMN %}
{% set sequence = sequence+10 %}    {{ sequence }} deny any {{ variables.HMN_NETWORK_IP }}/{{ variables.HMN_NETMASK }} {{ variables.NMN_NETWORK_IP }}/{{ variables.NMN_NETMASK }}
{%- endif %}
{%- if variables.NMN and variables.HMN_MTN %}
{% set sequence = sequence+10 %}    {{ sequence }} deny any {{ variables.NMN_NETWORK_IP }}/{{ variables.NMN_NETMASK }} {{ variables.HMN_MTN_NETWORK_IP }}/{{ variables.HMN_MTN_NETMASK }}
{%- endif %}
{%- if variables.HMN and variables.NMN_MTN %}
{% set sequence = sequence+10 %}    {{ sequence }} deny any {{ variables.HMN_NETWORK_IP }}/{{ variables.HMN_NETMASK }} {{ variables.NMN_MTN_NETWORK_IP }}/{{ variables.NMN_MTN_NETMASK }}
{%- endif %}
{%- if variables.NMN_MTN and variables.HMN %}
{% set sequence = sequence+10 %}    {{ sequence }} deny any {{ variables.NMN_MTN_NETWORK_IP }}/{{ variables.NMN_MTN_NETMASK }} {{ variables.HMN_NETWORK_IP }}/{{ variables.HMN_NETMASK }}
{%- endif %}
{%- if variables.NMN_MTN and variables.HMN_MTN %}
{% set sequence = sequence+10 %}    {{ sequence }} deny any {{ variables.NMN_MTN_NETWORK_IP }}/{{ variables.NMN_MTN_NETMASK }} {{ variables.HMN_MTN_NETWORK_IP }}/{{ variables.HMN_MTN_NETMASK }}
{%- endif %}
{%- if variables.HMN_MTN and variables.NMN %}
{% set sequence = sequence+10 %}    {{ sequence }} deny any {{ variables.HMN_MTN_NETWORK_IP }}/{{ variables.HMN_MTN_NETMASK }} {{ variables.NMN_NETWORK_IP }}/{{ variables.NMN_NETMASK }}
{%- endif %}
{%- if variables.HMN_MTN and variables.NMN_MTN %}
{% set sequence = sequence+10 %}    {{ sequence }} deny any {{ variables.HMN_MTN_NETWORK_IP }}/{{ variables.HMN_MTN_NETMASK }} {{ variables.NMN_MTN_NETWORK_IP }}/{{ variables.NMN_MTN_NETMASK }}
{%- endif %}
{% set sequence = sequence+10 %}    {{ sequence }} permit any any any
{#- end acl #}