{#- cmm #}
{%- for node in cabling.nodes if node.subtype == "cmm" %}
interface lag {{ node.config.LAG_NUMBER }} static
    no shutdown
    description {{ node.config.DESCRIPTION }}
    no routing
    vlan trunk native {{ node.config.NATIVE_VLAN }}
    vlan trunk allowed {{ node.config.NATIVE_VLAN}},{{ node.config.TAGGED_VLAN }}
    spanning-tree root-guard

interface {{ node.config.PORT }}
    no shutdown
    mtu 9198
    description {{ node.config.DESCRIPTION }}
    lag {{ node.config.LAG_NUMBER }}

{%- endfor %}
{#- end cmm #}