{#- bmc #}
{%- for node in cabling.nodes if node.slot == "bmc" %}
interface ethernet{{ node.config.PORT }}
    no shutdown
    no shutdown
    switchport access vlan 4
    mtu 9216
    description {{ node.config.DESCRIPTION }}
    flowcontrol receive on
    flowcontrol transmit off
    spanning-tree bpduguard enable
    spanning-tree port type edge

{%- endfor %}
{#- end bmc #}


