{#- mtn_nmn_vlan #}
{%- for cabinet in variables.NMN_MTN_CABINETS %}
vlan {{ cabinet.VlanID }}
    name {{ cabinet.Name }}
    apply access-list ip nmn-hmn in
    apply access-list ip nmn-hmn out

interface vlan {{ cabinet.VlanID }}
    ip mtu 9198
    ip address {{ cabinet.CIDR }}
    active-gateway ip mac 12:00:00:00:73:00
    active-gateway ip {{ cabinet.Gateway }}
    ip helper-address 10.92.100.222
    ip ospf 1 area 0.0.0.0

{%- endfor %}
{#- end mtn_nmn_vlan #}