{#- mtn_hmn_vlan #}
{%- for cabinet in variables.HMN_MTN_VLANS %}
vlan {{ cabinet.VlanID }}
    name {{ cabinet.Name }}
    apply access-list ip nmn-hmn in
    apply access-list ip nmn-hmn out

interface vlan {{ cabinet.VlanID }}
    ip mtu 9198
    ip address {{ cabinet.IP }}/{{ cabinet.PREFIX_LENGTH }}
    active-gateway ip mac 12:00:00:00:73:00
    active-gateway ip {{ cabinet.Gateway }}
    ipv6 address autoconfig
    ip helper-address 10.94.100.222
    ip ospf 1 area 0.0.0.0

{%- endfor %}
{#- end mtn_hmn_vlan #}