{#- spine-to-leaf.lag #}
***===> sw-spine-to-leaf.lag.j2
{%- for node in cabling.nodes if node.subtype == "leaf" %}
interface lag ***===> {{ node.config.LAG_NUMBER }}
    no shutdown
    description ***===> {{ node.config.DESCRIPTION }}
    no routing
    vlan trunk native 1
    vlan trunk allowed 2,4,7
    lacp mode active
    spanning-tree root-guard

interface ***===> {{ node.config.PORT }}
    no shutdown
    mtu 9198
    description ***===> {{ node.config.DESCRIPTION }}
    lag ***===> {{ node.config.LAG_NUMBER }}

{%- endfor %}
***===> end sw-spine-to-leaf.lag.j2
{#- end spine-to-leaf.lag #}