{#- uan #}
***===> uan.j2
{%- for node in cabling.nodes if node.subtype == "uan" %}
{%- if node.destination_port == 1%}
interface ***===> {{ node.config.PORT }}
{%- if node.slot == 'ocp' %}
    no shutdown
{%- else %}
    shutdown
{%- endif %}
    mtu 9198
    description ***===> {{ node.config.DESCRIPTION }}
    vlan access 2
{%- endif %}
{%- if node.destination_port == 2%}

interface lag ***===> {{ node.config.LAG_NUMBER }} multi-chassis
    no shutdown
    description ***===> uan_can_lag
    no routing
    vlan trunk native 1
    vlan trunk allowed 7
    lacp mode active
    lacp fallback
    spanning-tree port-type admin-edge
    spanning-tree bpdu-guard

interface ***===> {{ node.config.PORT }}
    no shutdown
    mtu 9198
    description ***===> {{ node.config.DESCRIPTION }}
    lag ***===> {{ node.config.LAG_NUMBER }}

{%- endif %}
{%- endfor %}
***===> end uan.j2
{#- end-uan #}
