{#- cdu-to-spine.lag #}
{%- set ns = namespace(lag_displayed=false) %}
{%- for node in cabling.nodes if node.subtype == "spine" %}
{%- if ns.lag_displayed == false %}
{%- set ns.lag_displayed = true %}
interface lag 255 multi-chassis
    no shutdown
    description cdu_to_spines_lag
    no routing
    vlan trunk native 1
    vlan trunk allowed 1-2,4
    lacp mode active
{%- endif %}
{%- endfor %}

{%- for node in cabling.nodes if node.subtype == "spine"%}

interface 1/1/{{ node.config.PORT }}
    no shutdown
    mtu 9198
    description {{ node.config.DESCRIPTION }}
    lag 255
{%- endfor %}
{#- end cdu-to-spine.lag #}