{#- cec #}
{%- for node in cabling.nodes if node.subtype == "cec" %}
interface {{ node.config.INTERFACE_NUMBER }}
    no shutdown
    mtu 9198
    description {{ node.config.DESCRIPTION }}
    no routing
    vlan access 3000
    spanning-tree bpdu-guard
    spanning-tree port-type admin-edge

{%- endfor %}
{#- end cec #}