{#- sw-leaf-bmc #}
{%- include variables.CSM_VERSION+'/aruba/common/unknown.j2' %}
hostname {{ variables.HOSTNAME }}
{%- include variables.CSM_VERSION+'/aruba/common/banner-motd.j2' %}
no ip icmp redirect
vrf {{ variables.VRF }}
ntp server {{ variables.NCN_W001 }}
ntp server {{ variables.NCN_W002 }}
ntp server {{ variables.NCN_W003 }}
ntp enable

{% for key, value in variables.items() %}{{ key }} - {{ value }}
{% endfor %}


aruba-central
    disable
ssh server vrf default
ssh server vrf mgmt
ssh server vrf {{ variables.VRF }}
{%- include variables.CSM_VERSION+'/aruba/common/acl.j2' %}

{%- include variables.CSM_VERSION+'/aruba/common/rvr_nmn_vlan.j2' %}

vlan {{ variables.NATIVE_VLAN }}
vlan {{ variables.NMN_VLAN }}
    name NMN
    apply access-list ip nmn-hmn in
    apply access-list ip nmn-hmn out
vlan {{ variables.HMN_VLAN }}
    name HMN
    apply access-list ip nmn-hmn in
    apply access-list ip nmn-hmn out
vlan {{ variables.CMN_VLAN }}
    name CMN
    apply access-list ip cmn-can in
    apply access-list ip cmn-can out
vlan {{ variables.BLACK_HOLE_VLAN_1 }}
    name NULL{{ variables.BLACK_HOLE_VLAN_1 }}
    description Black hole VLAN {{ variables.BLACK_HOLE_VLAN_1 }}
vlan {{ variables.BLACK_HOLE_VLAN_2 }}
    name NULL{{ variables.BLACK_HOLE_VLAN_2 }}
    description Black hole VLAN {{ variables.BLACK_HOLE_VLAN_2 }}

spanning-tree
{#- forward delay added to help with pxe boots. CASMNET-1099 + CASMTRIAGE-2793 #}
spanning-tree forward-delay 4
spanning-tree config-name MST0
spanning-tree config-revision 1
interface mgmt
    shutdown
    ip dhcp

{% include variables.CSM_VERSION+'/aruba/common/four_port_ocp.j2' %}
{% include variables.CSM_VERSION+'/aruba/common/compute.j2' %}
{% include variables.CSM_VERSION+'/aruba/common/bmc.j2' %}
{% include variables.CSM_VERSION+'/aruba/full/leaf-bmc-to-leaf.lag.j2' %}
{% include variables.CSM_VERSION+'/aruba/common/leaf_bmc_unused_port.j2' %}

interface loopback 0
    ip address {{ variables.LOOPBACK_IP }}/32
    ip ospf 1 area 0.0.0.0
interface vlan {{ variables.NATIVE_VLAN }}
    vrf attach {{ variables.VRF }}
    ip mtu 9198
    ip address {{ variables.MTL_IP }}/{{variables.MTL_PREFIX_LEN}}
    ip ospf 2 area 0.0.0.0
    ip ospf passive
interface vlan {{ variables.NMN_VLAN }}
    vrf attach {{ variables.VRF }}
    description NMN
    ip mtu 9198
    ip address {{ variables.NMN_IP }}/{{variables.NMN_PREFIX_LEN}}
    ip ospf 2 area 0.0.0.0
interface vlan {{ variables.HMN_VLAN }}
    vrf attach {{ variables.VRF }}
    description HMN
    ip mtu 9198
    ip address {{ variables.HMN_IP }}/{{variables.HMN_PREFIX_LEN}}
    ip ospf 2 area 0.0.0.0
    ip ospf passive
interface vlan {{ variables.CMN_VLAN }}
    description CMN
    ip mtu 9198
    ip address {{ variables.CMN_IP }}/{{variables.CMN_PREFIX_LEN}}
    ip ospf 1 area 0.0.0.0
snmp-server vrf default
snmp-server vrf {{ variables.VRF }}
ip dns server-address {{ variables.NMNLB_DNS }} vrf {{ variables.VRF }}
router ospf 2 vrf {{ variables.VRF }}
    router-id {{ variables.LOOPBACK_IP }}
    area 0.0.0.0
router ospf 1
    router-id {{ variables.LOOPBACK_IP }}
    area 0.0.0.0
https-server vrf {{ variables.VRF }}
https-server vrf default
https-server vrf mgmt
{# end sw-leaf-bmc #}
