{# blank line below required #}

banner exec {{ '!' }}
###############################################################################
# CSM version:  {{ variables.CSM_VERSION }}
# CANU version: {{ variables.CANU_VERSION }}
###############################################################################
{{ '!' }}
