{#- bmc #}
{%- for node in cabling.nodes if node.slot == "bmc" or node.slot == "cmc" or node.subtype == "sw-hsn" or node.subtype == "pdu" %}
interface 1/1/{{ node.config.PORT }}
    no shutdown
    mtu 9198
    description {{ node.config.DESCRIPTION }}
    no routing
    vlan access {{ variables.HMN_VLAN }}
    spanning-tree bpdu-guard
    spanning-tree port-type admin-edge

{%- endfor %}
{#- end bmc #}