{#- route-map #}
{%- for name, ip in variables.NMN_IPs.items() if "ncn-w" in name %}
{% set sequence = namespace(value=10) %}
{% set localpref = namespace(value=1000) %}
    {%- for tftp_name, tftp_ip in variables.NMN_IPs.items() if tftp_name in ["ncn-w001", "ncn-w002", "ncn-w003"] %}
route-map {{ name }} permit seq {{ sequence.value }}{% set sequence.value = sequence.value + 10%}
     match ip address prefix-list tftp
     match ip next-hop {{ tftp_ip }}
     set local-preference {{ localpref.value }}{% set localpref.value = localpref.value + 100%}
    {%- endfor %}
route-map {{ name }} permit seq {{ sequence.value }}
     match ip address prefix-list pl-cmn
     {%- for CMN_name, CMN_ip in variables.CMN_IPs.items() if name == CMN_name %}
     set ip next-hop {{ CMN_ip }}
     {%- endfor %}
route-map {{ name }} permit seq {{ sequence.value }}
     match ip address prefix-list pl-can
     {%- for CAN_name, CAN_ip in variables.CAN_IPs.items() if name == CAN_name %}
     set ip next-hop {{ CAN_ip }}
     {%- endfor %}
{% set sequence.value = sequence.value + 10 %}route-map {{ name }} permit seq {{ sequence.value }}
     match ip address prefix-list pl-hmn
     {%- for hmn_name, hmn_ip in variables.HMN_IPs.items() if name == hmn_name %}
     set ip next-hop {{ hmn_ip }}
     {%- endfor %}
{% set sequence.value = sequence.value + 10 %}route-map {{ name }} permit seq {{ sequence.value }}
     match ip address prefix-list pl-nmn
     {%- for nmn_name, nmn_ip in variables.NMN_IPs.items() if name == nmn_name %}
     set ip next-hop {{ nmn_ip }}
     {%- endfor %}
{%- endfor %}
route-map cmn permit seq 10
     match ip address prefix-list pl-cmn
route-map can permit seq 10
     match ip address prefix-list pl-can
{#- end route-map #}
