{#- edge_router #}

transceiver qsfp default-mode 4x10G
!
hostname sw-edge-001
!
spanning-tree mode none
no spanning-tree vlan-id 4094

interface Loopback0
   ip address 10.2.1.194/32
   ip ospf area 0.0.0.0

interface Management1
   ip address 172.30.52.119/20
   
vlan 5
   name CHN

vlan 4094
   trunk group MLAG-Peer
!
interface Port-Channel1000
 description [MLAG Peer-Link]
 switchport mode trunk
 switchport trunk group MLAG-Peer
!
interface Vlan4094
   description [MLAG Link]
   no autostate
   ip address 10.255.255.0/31
   ip ospf area 0.0.0.0
!

interface Vlan{{ variables.CHN_VLAN }}
   description CHN
   mtu 9214
   ip address {{ variables.CHN_IP }}/{{variables.CHN_PREFIX_LEN}}
   ip virtual-router address {{ variables.CHN_IP_GATEWAY }}
ip routing

ip virtual-router mac-address 06:00:00:20:20:20

ip prefix-list HSN seq 10 permit {{ variables.CHN }} ge {{ variables.CHN_PREFIX_LEN }}
!

mlag configuration
   domain-id edge
   local-interface Vlan4094
   peer-address 10.255.255.1
   peer-address heartbeat 172.30.52.120
   peer-link Port-Channel1000

router ospf 1
   router-id 10.2.1.194
   max-lsa 12000
   default-information originate

{# note: hard coded IPs until we get them added to IPAM/SLS #}

{%- if variables.BGP_CONTROL_PLANE == 'CMN' %}
{%- for name, ip in variables.NMN_IPs.items() if "ncn-w" in name %}
{% set sequence = namespace(value=10) %}
route-map {{ name }}-CHN permit {{ sequence.value }}
     match ip address prefix-list HSN
     {%- for CHN_name, CHN_ip in variables.CHN_IPs.items() if name == CHN_name %}
     set ip next-hop {{ CHN_ip }}
     {%- endfor %}
{%- endfor %}

router bgp {{ variables.SWITCH_ASN }}
   timers bgp 1 3
   distance bgp 20 200 200
   router-id 10.2.1.194
   maximum-paths 32
   neighbor 10.2.1.195 remote-as 65533
   neighbor 10.2.1.195 next-hop-self
   neighbor 10.2.1.195 update-source Loopback0
   neighbor 10.2.1.195 maximum-routes 12000
   {%- for name, ip in variables.CMN_IPs.items() if "ncn-w" in name %}
   neighbor {{ ip }} remote-as {{ variables.CHN_ASN }}
   neighbor {{ ip }} passive
   neighbor {{ ip }} ebgp-multihop 5
   neighbor {{ ip }} update-source Loopback0
   neighbor {{ ip }} route-map {{ name }}-CHN in
   neighbor {{ ip }} maximum-routes 12000
   {%- endfor %}
   address-family ipv4
      neighbor 10.2.1.194 activate
   {%- for name, ip in variables.CMN_IPs.items() if "ncn-w" in name %}
      neighbor {{ ip }} activate
   {%- endfor %}
{%- endif %}

{%- if variables.BGP_CONTROL_PLANE == 'CHN' %}
route-map HSN permit 5
   match ip address prefix-list HSN

router bgp {{ variables.SWITCH_ASN }}
   timers bgp 1 3
   distance bgp 20 200 200
   router-id 10.2.1.194
   maximum-paths 32
   neighbor 10.2.1.195 remote-as 65533
   neighbor 10.2.1.195 next-hop-self
   neighbor 10.2.1.195 update-source Loopback0
   neighbor 10.2.1.195 maximum-routes 12000
   {%- for name, ip in variables.CHN_IPs.items() if "ncn-w" in name %}
   neighbor {{ ip }} remote-as {{ variables.CHN_ASN }}
   neighbor {{ ip }} passive
   neighbor {{ ip }} route-map HSN in
   neighbor {{ ip }} maximum-routes 12000
   {%- endfor %}
   address-family ipv4
      neighbor 10.2.1.195 activate
   {%- for name, ip in variables.CHN_IPs.items() if "ncn-w" in name %}
      neighbor {{ ip }} activate
   {%- endfor %}
{%- endif %}

{#- end edge_router #}
