{#- sw-leaf-bmc #}
{%- include 'aruba/common/unknown.j2' %}
hostname {{ variables.HOSTNAME }}
no ip icmp redirect
ntp server {{ variables.NCN_W001 }}
ntp server {{ variables.NCN_W002 }}
ntp server {{ variables.NCN_W003 }}
ntp enable



ssh server vrf default
ssh server vrf mgmt
{%- include 'aruba/common/acl.j2' %}

vlan 1
vlan 2
    name NMN
    apply access-list ip nmn-hmn in
    apply access-list ip nmn-hmn out
vlan 4
    name HMN
    apply access-list ip nmn-hmn in
    apply access-list ip nmn-hmn out

spanning-tree
spanning-tree config-name MST0
spanning-tree config-revision 1
interface mgmt
    shutdown
    ip dhcp

{% include 'aruba/tds/leaf-bmc-to-spine.lag.j2' %}
{% include 'aruba/common/bmc.j2' %}

interface loopback 0
    ip address {{ variables.LOOPBACK_IP }}/32
    ip ospf 1 area 0.0.0.0
interface vlan 1
    ip mtu 9198
    ip address {{ variables.MTL_IP }}/{{variables.MTL_PREFIX_LEN}}
interface vlan 2
    description NMN
    ip mtu 9198
    ip address {{ variables.NMN_IP }}/{{variables.NMN_PREFIX_LEN}}
    ip ospf 1 area 0.0.0.0
interface vlan 4
    description HMN
    ip mtu 9198
    ip address {{ variables.HMN_IP }}/{{variables.HMN_PREFIX_LEN}}
    ip ospf 1 area 0.0.0.0
snmp-server vrf default

router ospf 1
    router-id {{ variables.LOOPBACK_IP }}
    area 0.0.0.0
router ospfv3 1
    router-id {{ variables.LOOPBACK_IP }}
    area 0.0.0.0
https-server vrf default
https-server vrf mgmt
{# end sw-leaf-bmc #}
