{#- sw-spine.primary #}
***===> sw-spine.primary.j2
{%- include 'common/unknown.j2' %}
hostname {{ variables.HOSTNAME }}
bfd
no ip icmp redirect
vrf CAN
vrf keepalive
ntp server ***===> {{ variables.NCN_W001 }}
ntp server ***===> {{ variables.NCN_W002 }}
ntp server ***===> {{ variables.NCN_W003 }}
ntp enable



ssh server vrf default
ssh server vrf mgmt
{%- include 'common/acl.j2' %}

vlan 1
vlan 2
    name NMN
    apply access-list ip nmn-hmn in
    apply access-list ip nmn-hmn out
vlan 4
    name HMN
    apply access-list ip nmn-hmn in
    apply access-list ip nmn-hmn out
vlan 7
    name CAN
vlan 10
    name SUN
spanning-tree
spanning-tree priority 0
spanning-tree config-name MST0
spanning-tree config-revision 1
interface mgmt
    shutdown

{% include 'common/ncn-m.lag.j2' %}
{% include 'common/ncn-w.lag.j2' %}
{% include 'common/ncn-s.lag.j2' %}
{% include 'common/uan.j2' %}
{% include 'tds/spine-to-leaf-bmc.lag.j2' %}
{% include 'common/spine-to-cdu.lag.j2' %}

interface lag 256
    no shutdown
    description ISL link
    no routing
    vlan trunk native 1 tag
    vlan trunk allowed all
    lacp mode active
interface ***===> {{ variables.VSX_KEEPALIVE }}
    no shutdown
    vrf attach keepalive
    ip address 192.168.255.0/31
interface ***===> {{ variables.VSX_ISL_PORT1 }}
    no shutdown
    mtu 9198
    description vsx isl
    lag 256
interface ***===> {{ variables.VSX_ISL_PORT2 }}
    no shutdown
    mtu 9198
    description vsx isl
    lag 256
interface loopback 0
    ip address ***===> {{ variables.LOOPBACK_IP }}
    ip ospf 1 area 0.0.0.0
interface vlan 1
    ip mtu 9198
    ip address ***===> {{ variables.MTL_IP }}
    active-gateway ip mac 12:00:00:00:6b:00
    active-gateway ip ***===> {{ variables.MTL_IP_GATEWAY }}
    ip helper-address 10.92.100.222
interface vlan 2
    ip mtu 9198
    ip address ***===> {{ variables.NMN_IP }}
    active-gateway ip mac 12:00:00:00:6b:00
    active-gateway ip ***===> {{ variables.NMN_IP_GATEWAY }}
    ip helper-address 10.92.100.222
    ip ospf 1 area 0.0.0.0
interface vlan 4
    ip mtu 9198
    ip address ***===> {{ variables.HMN_IP }}
    active-gateway ip mac 12:00:00:00:6b:00
    active-gateway ip ***===> {{ variables.HMN_IP_GATEWAY }}
    ip helper-address 10.92.100.222
    ip ospf 1 area 0.0.0.0
interface vlan 7
    ip mtu 9198
    ip address ***===> {{ variables.CAN_IP_PRIMARY }}
    active-gateway ip mac 12:00:00:00:6b:00
    active-gateway ip ***===> {{ variables.CAN_IP_GATEWAY }}
    ip helper-address 10.92.100.222
vsx
    system-mac 02:00:00:00:6b:00
    inter-switch-link lag 256
    role primary
    keepalive peer 192.168.255.1 source 192.168.255.0 vrf keepalive
    linkup-delay-timer 600
    vsx-sync vsx-global
router ospf 1
    router-id ***===> {{ variables.LOOPBACK_IP }}
    area 0.0.0.0
router ospfv3 1
    router-id ***===> {{ variables.LOOPBACK_IP }}
    area 0.0.0.0
https-server vrf default
https-server vrf mgmt
https-server vrf CAN
***===> end sw-spine.primary.j2
{# end sw-spine.primary #}
