{# blank line below required #}

banner motd {{ '"' }}
###############################################################################
# CSM version:  {{ variables.CSM_VERSION }}
# CANU version: {{ variables.CANU_VERSION }}
###############################################################################
{{ '"' }}
