{#- bmc #}
{%- for node in cabling.nodes if node.slot == "bmc" %}
interface ethernet 1/1/{{ node.config.PORT }}
  description {{ node.config.DESCRIPTION }}
  no shutdown
  switchport access vlan 4
  mtu 9216
  flowcontrol receive off
  flowcontrol transmit off
  spanning-tree bpduguard enable
  spanning-tree port type edge

{%- endfor %}
{#- end bmc #}


