{# blank line below required #}

banner motd {{ '^C' }}
 ###############################################################################
 # CSM version:  {{ variables.CSM_VERSION }}
 # CANU version: {{ variables.CANU_VERSION }}
 ###############################################################################
{{ '^C' }}
