{#- unused #}
{%- for port in variables.UNUSED_PORTS %}
interface ethernet1/1/{{ port }}
 shutdown
 switchport access vlan 1
 flowcontrol receive on
 flowcontrol transmit off

{%- endfor %}
{#- end unused #}